@model SignalR.MVC.Models.DevTest
@{ 
    Layout = null;
}
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">DevTest form</h4>
        </div>
        @using (Ajax.BeginForm(null, null,
                                                                new AjaxOptions
                                                                {
                                                                    HttpMethod = FormMethod.Post.ToString(),
                                                                    InsertionMode = InsertionMode.Replace,
                                                                    Url = Url.Action("Detail", "DevTest"),
                                                                    OnComplete = "partialViewDetail"
                                                                }, new { id = "devtestForm" }))

        {
            <div class="modal-body">
                @Html.HiddenFor(m => m.Id)
                <div class="form-group">
                    <label>Campaign Name</label>
                    @Html.TextBoxFor(m => m.CampaignName, new { required = "true", @class = "form-control" })
                </div>
                <div class="form-group">
                    <label>Date</label>
                    @Html.TextBoxFor(m => m.Date, "{0:dd/MM/yyyy}",  new { @readonly = "true", placeholder = "select date", @class = "form-control" })
                </div>

                <div class="form-group">
                    <label>Clicks</label>
                    @Html.TextBoxFor(m => m.Clicks, new { type = "number", min = "0", @class = "form-control" })
                </div>
                <div class="form-group">
                    <label>Conversions</label>
                    @Html.TextBoxFor(m => m.Conversions, new { type = "number", min = "0", @class = "form-control" })
                </div>
                <div class="form-group">
                    <label>Impressions</label>
                    @Html.TextBoxFor(m => m.Impressions, new { type = "number", min = "0", @class = "form-control" })
                </div>
                <div class="form-group">
                    <label>AffiliateName</label>
                    @Html.TextBoxFor(m => m.AffiliateName,  new {  @class = "form-control" })
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
                <!---->
            </div>
        }
    </div>
    <!-- /.modal-content -->
</div>

<script>
    $(document).ready(function () {
        // add jquery ui date picker the date format
        $("#Date").datepicker({
            dateFormat: "dd/mm/yy"
        });
    });
</script>